@using SistemaG9.Web.Util

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Sistema G9", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            @if (SessionManager.IsAuthenticated)
            {
                <ul class="nav navbar-nav">

                    <!-- DropDown menu Cadastro -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Minha Rede <b class="caret"></b> </a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li role="menuitem">@Html.ActionLink("Meus Logins", "MeusLogins", "Clientes")</li>
                            @*<li role="menuitem">@Html.ActionLink("Rede Binária", "RedeGrafica", "Rede")</li>*@
                        </ul>
                    </li>

                    <!-- DropDown menu Cadastro -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Cadastros <b class="caret"></b> </a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li role="menuitem">@Html.ActionLink("Dados Pessoais", "Edit", "Clientes")</li>
                            <li role="menuitem">@Html.ActionLink("Dados Bancários", "Edit", "DadosBancarios")</li>
                            <li role="menuitem" class="divider"></li>
                            <li role="menuitem">@Html.ActionLink("Alterar Senha", "AlteraSenha", "Account")</li>
                        </ul>
                    </li>
                    <!-- DropDown menu Movimento -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Doações <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li role="menuitem">@Html.ActionLink("Recebidas", "Recebidas", "Doacoes")</li>
                            <li role="menuitem" class="divider"></li>
                            @*<li role="menuitem">@Html.ActionLink("À receber", "Liberadas", "Doacoes")</li>*@
                            <li role="menuitem">@Html.ActionLink("Realizadas", "Realizadas", "Doacoes")</li>
                        </ul>
                    </li>
                    <!-- DropDown menu Tabelas -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Doações <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <li role="menuitem">@Html.ActionLink("Tipo de Valores", "Index", "TipoValor")</li>
                            <li role="menuitem">@Html.ActionLink("Valores", "Index", "Valor")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
            }
        </div>
    </div>
</div>




<li><a href="@Url.Action("MeusLogins", "Clientes")"><i class="fa fa-user-o"></i>Meus Logins</a></li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-money"></i>
        <span>Doações</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="li-mnu-Recebidas"><a href="@Url.Action("Recebidas", "Doacoes")"><i class="fa fa-circle-o"></i> Doações Recebidas</a></li>
        <li id="li-mnu-AReceber"><a href="@Url.Action("Liberadas", "Doacoes")"><i class="fa fa-circle-o"></i> Doações a Receber</a></li>
        <li id="li-mnu-Recebidas"><a href="@Url.Action("Realizadas", "Doacoes")"><i class="fa fa-circle-o"></i> Doações Realizadas</a></li>
    </ul>
</li>

<li><a href="@Url.Action("MinhaRede", "Clientes")"><i class="fa fa-group"></i>Minha Rede</a></li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-files-o"></i>
        <span>Dados Cadastrais</span>
        <span class="fa fa-angle-left pull-right"></span>
    </a>
    <ul class="treeview-menu">
        <li id="li-mnu-Pessoais"><a href="@Url.Action("Edit", "Clientes")"><i class="fa fa-circle-o"></i> Dados Pessoais</a></li>
        <li id="li-mnu-Bancarios"><a href="@Url.Action("Edit", "DadosBancarios")"><i class="fa fa-circle-o"></i> Dados Bancários</a></li>
        <li id="li-mnu-Login"><a href="@Url.Action("Index", "AdminLte")"><i class="fa fa-circle-o"></i> Alterar Senha</a></li>
    </ul>
</li>
