@model IEnumerable<SistemaG9.Domain.Models.Clientes>

@{
    ViewBag.Title = "Participantes Cadastrados";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-md-7 col-xs-8">
                <h3 class="box-title"><i class="fa fa-group"></i> Listagem de Participantes Cadastrados</h3>
            </div>
            <div class="box-tools pull-right">
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-warning", @title = "Tela Inicial" })
            </div>
        </div>
        <div class="box-body">
                <table class="table table-hover table-responsive" id="tbl-clientes">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Login)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    @if (item.Status.Equals(1))
                                    {
                                        @Html.DisplayName("ATIVO")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("INATIVO")
                                    }
                                    @*@Html.DisplayFor(modelItem => item.Status)*@
                                </td>
                                @*<td class="mnuTable">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "Edit", new { id = item.ClienteId }, new { @class = "btn btn-default glyphicon glyphicon-folder-open", @Title = "Editar" })
                                        <button id="btn-delete" class="btn btn-default btn-delete glyphicon glyphicon-trash" data-nome="@item.Nome" data-id="@item.ClienteId" title="Excluir @item.Nome"></button>
                                    </div>
                                </td>*@
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
        </div>
    </div>
</section>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#tbl-clientes").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
}