@model IEnumerable<SistemaG9.Domain.Models.Rede>

@{
    ViewBag.Title = "MinhaRede";
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="col-md-7 col-xs-8">
                <h3 class="box-title"><i class="fa fa-th-list"></i> Minha Rede</h3>
            </div>
            <div class="col-md-5 col-sm-3 text-right">
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-warning", @title = "Tela Inicial" })
            </div>
        </div>
        <div class="box-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Login</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Data do Cadastro</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.DataCadastro)
                            </td>
                            @if (@item.Status == 0)
                            {
                                <td>
                                    <span class="label label-danger">INATIVO</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-success">ATIVO</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>