@model SistemaG9.Domain.Models.Matriz

@{
    Layout = "~/Areas/Escritorio/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matriz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Integrantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Integrantes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatrizId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
